<!--#
# Tutorial https://www.digitalocean.com/community/tutorials/how-to-make-a-web-application-using-flask-in-python-3
#
# STEP 3 using HTML templates
# STEP 7 modifying posts
#-->

<!-- BELOW (without bootstrap) replaced after creating base.html -->
<!DOCTYPE HTML>
<!--html lang="en">
	<head>
		<meta charset="UTF-8"-->
		<!-- link below added after creation css/style.css -->
		<!--link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
		<title>FlaskBlog</title>
	</head>
	<body>
		<h1>Welcome to FlaskBlog</h1>
	</body>
</html-->

{% extends 'base.html' %}

{% block content %}
	<h2>{% block title %} Welcome to GuitarBlog {% endblock %}</h2>
    {% for post in posts %}
		<a href="{{url_for('post', post_id=post['id'])}}">
            <h5>{{ post['title'] }}</h5>
        </a>
        <span class="badge text-bg-info">{{ post['created'] }}</span>
		<a href="{{url_for('edit', id=post['id'])}}"
			<span class="badge text-bg-warning">Edit</span>
		</a>
        <hr>
    {% endfor %}
{% endblock %}

